.main {
    display: flex;

}

.left-side {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;

}


.right-side {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;


}